aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 67px;
  z-index: 100;


  .icon_poster {
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    box-shadow: -3px 0 10px -2px rgb(0 0 0 / 10%);

    * {
      margin: 4px;
    }

    img {
      width: 18px;
    }

    i {
      font-size: 18px;
      color: #000;
    }
  }

  .arrow_up {
    position: absolute;
    width: 47px;
    height: 47px;    
    right: 10px;
    bottom: 4%;
    border-radius: 50%;
    background-color: $primaryColorButtons;
    font-size: 21px;
    line-height: 47px;
    padding-bottom: 6px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    transition: all 0.3s;
    
    span {
      text-decoration: none;
      color: #fff;
      width: 100%;
    }

    &.visible {
      opacity: 1;
    }
  }

  
}
  