.btn {
  border-radius: 5px;
  padding: 13px 28px;
  border: 0;
  color: #fff;
  font-size: 500;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  
  &.btn_full {
    background-color: $primaryColorButtons;

    &:hover {
      background-color: $colorHoverButtons;
    }
  }

  &.btn_long {
    padding: 13px 50px;
  }
}