// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mix
body {
    font-family: 'Roboto', sans-serif;
    font-size: $mFont;
    background-color: $colorBody;
}

header {
    background-color: $colorHeader;
    height: 755px;
    overflow: hidden;
}

section {
    padding: 80px 0;
}

footer {
    padding: 80px 0;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

// contenitori
.container {
    margin: 0 auto;
    max-width: 1080px;
}
