footer {
  background-color: #fff;

  address {
    h3 {
      padding-bottom: 10px;
    }

    p, a {
      font-size: $sFont;
      color: $darkGreyColorText;
      text-decoration: none;
      margin: 15px 0;
    }

    .social {
      padding-top: 30px;
      color: $colorSocialAndCopyright;
      font-size: $lFont;

      i {
        margin-right: 20px;
      }
    }
  }
}