header {
    background-color: $colorHeader;

    .navbar_and_logo {
        justify-content: space-between;
    }

    .main_logo {
        width: 150px;

        img {
            width: 100%;
        }
    }

    .main_nav li {

        a {
            color: $primaryColorText;

            i.fas {
                font-size: $xsFont;
                margin-top: 2px;
            }
        }
    }

    .shopping_and_user {
        img {
            width: 18px;
        }

        .user {
            width: 16px;
            margin-left: 30px;
        }

        .shopping {
            position: relative;


            .add_number {
                font-size: $xsFont;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -8px;
                right: -8px;
                background-color: $secondaryColorButtons;
                border-radius: 50%;
                line-height: 15px;
                text-align: center;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}