.hero {
  height: 600px;
  position: relative;
  text-align: right;
  padding-top: 40px;
  

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 300px;
    background-image: url("../img/jumbo-overlay.svg");
    background-repeat: no-repeat;
    transform: rotateX(180deg);
  }


  .text {
    width: 340px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    
    p {
      color: $ternaryColorText;
    }
  }

  .images_hero_container {
    height: 520px;

    img {
      height: 100%;
    }
  }

  .icon_poster {
    position: absolute;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;

    * {
      margin: 5px;
    }

    img {
      width: 18px;
    }

    i {
      font-size: 18px;
      color: #000;
    }
  }
}