.hero {
  height: calc( 100% - 80px);
  position: relative;
  text-align: right;
  
  

  &::before {
    position: absolute;
    z-index: 0;
    content: "";
    left: -86px;
    right: -55px;
    bottom: -52px;
    top: 300px;
    background-image: url(../img/jumbo-overlay.svg);
    background-repeat: no-repeat;
    transform: rotateX(180deg);
  }


  .text {
    width: 340px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    
    p {
      color: $ternaryColorText;
    }
  }

  .images_hero_container {
    height: 520px;

    img {
      height: 100%;
      position: relative;
      top: 80px;
    }
  }

}