.icon_poster {
  position: fixed;
  top: 150px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  box-shadow: -3px 0 10px -2px rgb(0 0 0 / 10%);

  * {
    margin: 4px;
  }

  img {
    width: 18px;
  }

  i {
    font-size: 18px;
    color: #000;
  }
}