// margini sopra e sotto
@for $i from 1 through 10 {
    .mrg_up_down_#{$i}0 {
        margin: $i * 10+px 0;
    }
}

// margini laterali
@for $i from 1 through 10 {
    .mrg_left_right_#{$i}0 {
        margin: 0 $i * 10+px;
    }
}

// margini
@for $i from 1 through 10 {
    .mrg_#{$i}0 {
        margin: $i * 10+px;
    }
}