#featured_courses {
  .title {
    text-align: center;
  }

  .courses {
    .container {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 0;
    }
  }
}