.today {
  background-color: #fff;
  
  .titles {
    text-align: center;

    }

  .today_cards {
    margin-top: 70px;
    width: 100%;


    .today_card {
      width: 25%;
      padding: 14px;
      text-align: center;

      p {
        color: $h4ColorText;
        line-height: 24px;
        font-size: $sFont;
      }

      .btn {
        width: 80%;
        margin-top: 20px;
        background-color: #fff;
        color: $quaternaryColorText;
        font-weight: bold;

        &:hover {
          background-color: $secondaryColorHoverButtons;
        }
      }
    }
  }
}