.featured_courses {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  border-bottom-left-radius: 165% 20%;
  border-bottom-right-radius: 165% 20%;
  
  .title {
    text-align: center;
  }

  .courses {
    .container {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 0;
    }
  }

  .button_container {
    text-align: center;
  }
}