.stories {
  .stories_titles {
    text-align: center;

    h4 {
      color: $ternaryColorText;
    }
  }

  .stories_container {
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .bullets {
    justify-content: center;

    .bullet {
      margin: 10px;
      font-size: 9px;
      color: #b7b5c4;

      &.active {
        font-size: $xsFont;
        color: $primaryColorText;
      }
    }
  }

  .certification {
    text-align: center;
    margin-top: 70px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 7px solid $secondaryColorShapecircle;
    }

    .certification_1 {
      position: absolute;
      left: 20px;
      top: 70px;
    }

    .certification_2 {
      position: absolute;
      right: 0;
      top: 65px;
    }

    h2 {
      font-size: 21px;
      margin: 0;
      line-height: 38px;
    }

    h3 {
      font-size: $xlFont;
      letter-spacing: 1px;
      color: $primaryColorText;
    }
  }
}