h1, h2, h3 {
  color: $primaryColorText;
}

h1, h2 {
  line-height: 40px;
  font-size: $xxlFont;
  letter-spacing: 1px;
}

h2 {
  margin: 25px 0;

  span {
    color: $primaryColorButtons;
    font-weight: normal;
  }
}

h3 {
  color: $h3ColorText;
}

h4 {
  text-transform: uppercase;
  color: $h4ColorText;
  font-size: $mFont;
  font-weight: normal;
}

// classi
.uppercase {
  text-transform: uppercase;
}