// FONTS
$xsFont: 12px;
$sFont: 14px;
$mFont: 16px;
$mlFont: 18px;
$lFont: 24px;
$xlFont: 30px;
$xxlFont: 38px;

// COLORI
// colori testo
$primaryColorText: #3f3a64;
$secondaryColorText: #8c8c8c;
$ternaryColorText: #8c89a2;
$quaternaryColorText: #8d8aa3;
$h3ColorText: #333333;
$h4ColorText: #816969;
$courseColor: #727272;
$darkGreyColorText: #696969;
$darkPurpleColorText: #8c89a2;
$cardTitlesColorText: #333333;
$primaryColorShapecircle: #ecc5ab;
$secondaryColorShapecircle: #e6dcd2;
$colorSocialAndCopyright: #b4b4b4;


// colori bottoni
$primaryColorButtons: #20ad96;
$secondaryColorButtons: #62c5b5;
$colorHoverButtons: #3f3a64;
$secondaryColorHoverButtons: #f8f8f8;

// colori sfondo
$primaryColorSections: #f5f5f5;
$secondaryColorSections: #faf8f6;
$colorHeader: #e9e6e3;
$colorBody: #f8f8f8;





